<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BLog Page </title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
	<link rel="stylesheet" href="/MyBlog.css">
</head>
<body>
	
<div class="ui fixed inverted menu">
	<div class="ui container">
	  <div class="header item">
		 <i class="edit icon"></i>
		Blog Site
	  </div>
	  <a class="item active" href="/">
		Home
	  </a>
	  <a class="item" href = "/blogs/new">
		New Post
	  </a>
	</div>
</div>


