<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webcreater</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" href="../pictures/logo web creator new.svg" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="background-color: #f5fdfb;">
    <div class="container-fluid " style="height: 100vh; ">
    <div class="container border rounded border-dark p-3" style="width: 20rem; text-align:center; margin-top: 10%;">
    <h1><i class="fas fa-tools"></i><div style="color:#189671 ;">sorry</div> </h1>
<p>This page in under construction</p>
<hr>
<div class="section">
</div>
<div class="section">
    <a href="/" class="btn text-light mt-3" style="background-color:rgb(176,0,0);"><i class="fas fa-arrow-left"></i> back to Dashboard</a>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>