<div class="px-1 xs:px-5 md:px-20 py-2 flex justify-between w-full">
    <div class="logo w-[50%] md:w-[20%]">
        <a href="/">
            <h1 class="font-prime-500 text-text2 mb-1 text-sm md:text-lg">Borase Classes</h1>
        </a>
    </div>
    <div class="right flex text-text text-sm items-center">
        <h1 class="font-prime-500 text-text2 mb-1 text-sm md:text-xl mr-6">Follow Us</h1>
        <a href="#" class="mr-4">
            <img src="./static/Icons/facebook.svg" alt="" class="w-4 md:w-6">
        </a>
        <a href="#">
            <img src="./static/Icons/twitter.svg" alt="" class="w-4 md:w-6">
        </a>
    </div>
</div>
<div class="p-1 xs:px-5 md:px-10 py-2 flex justify-center w-full">
    <h1 class="font-prime-400 text-text2 text-sm md:text-lg">Design and Developed By <a href="#"  class="font-prime-500"> Sushmit Katkale </a></h1>
</div>