<style>
    section.home::-webkit-scrollbar{
        display: none;
    }
</style>
<Section class="home w-screen h-screen overflow-y-scroll overflow-x-hidden select-none scroll-smooth">
    <nav class="h-[8%] w-full ">
        <%- include('_navbarHome') %>
    </nav>
    <div class="notification w-full flex items-center justify-center font-work text-lg text-text2 h-[15%] px-1 xs:px-5 md:px-8 lg:px-12 xs:h-[12%]">
        <a href="#" class="noti flex flex-col justify-center items-center bg-a2 h-full rounded-lg w-full sm:w-[90%] lg:w-[80%]">
            <h1 class="text-center">HSC 2023/24 Summer Vacation Batch Admission Opened now ! Hurry Up Limited seats are available</h1>
        </a>
    </div>
    <div class="content1 flex w-full h-[60%] md:h-[80%] relative p-1 flex-col xs:p-5 md:p-8 lg:p-10 lg:flex-row">
        <div class="c1 flex flex-col items-center justify-around w-full h-[50%] md:w-[50%] md:h-full">
            <div class="w-full lg:w-[80%] z-10">
                <h1 class="font-prime-200 text-text2 text-3xl md:text-4xl lg:text-5xl">Secure Your Ranks</h1>
                <h1 class="font-prime-500 text-text2 mb-3 text-3xl md:text-4xl lg:text-5xl">With Best Teachers</h1>
                <p class="w-[70%] font-prime-300 text-text2 mb-3 text-sm md:text-base">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                </p>
                <div>
                    <a href="#knowMore" class="bg-a1 text-light flex justify-center items-center px-5 py-1 w-fit">
                        <h1>Contact Now</h1>
                    </a>
                </div>
            </div>
            <div class="w-full hidden md:flex">

            </div>
        </div>
        <div class="img1 w-full h-[50%] lg:w-[50%] lg:h-full">
            <img src="./static/Images/img1.svg" alt="" class="absolute -bottom-[0.5%] xs:-bottom-[2%] right-0 w-full xs:w-[70%] lg:w-[55%] animate-bounce2">
        </div>
    </div>
    <div class="w-full h-[105%] bg-s relative">
        <div class="arrow w-full px-1 py-5 xs:px-5 xs:py-8 lg:p-10 h-[2%] lg:h-[10%] overflow-hidden">
            <img src="./static/Images/Arrow 1.svg" alt="" class="w-[50%] animate-arrow1">
        </div>
        <div class="w-full flex h-[90%] flex-col lg:flex-row">
            <div class="w-full h-[50%] lg:w-[50%] lg:h-full flex justify-center items-center">
                <img src="./static/Images/img2.svg" alt="" class="w-full xs:w-[80%] md:w-[60%] lg:w-[90%] animate-bounce2">
            </div>
            <div class="w-full h-[50%] xs:px-5 lg:w-[50%] xs:h-full flex flex-col justify-around">
                <div class="w-full lg:w-[80%] z-20">
                    <h1 class="text-3xl md:text-4xl lg:text-5xl font-prime-200 text-white mb-3">Let us build your future</h1>
                    <h1 class="text-3xl md:text-4xl lg:text-5xl font-prime-500 text-white">Your Goal</h1>
                    <h1 class="text-3xl md:text-4xl lg:text-5xl font-prime-500 text-white mb-3">Our Responsibility</h1>
                    <p class="w-[90%] lg:w-[70%] text-sm md:text-base font-prime-300 text-white mb-3">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    </p>
                </div>
                <div class="h-[10%]"></div>
            </div>
        </div>
        <div class="absolute -bottom-[5%] right-0 xs:-bottom-[10%] xs:right-[10%] sm:-bottom-[15%] sm:right-[7%] md:-bottom-[15%] md:right-[5%] lg:-bottom-[15%] lg:right-[0%] lg:flex lg:justify-end w-full xs:w-[80%] md:w-[60%] lg:w-[60%] animate-bounce1 z-10">
            <img src="./static/Images/img3.svg" alt="" class="">
        </div>
    </div>
    <div class="w-full h-full p-1 xs:p-5 md:p-8 lg:p-10 flex flex-col justify-center lg:flex-row mb-5 xs:mb-0">
        <div class="w-full h-[45%] lg:w-[50%] lg:h-full flex justify-center items-end order-2 lg:order-1">
            <img src="./static/Images/img4.gif" alt="" class="w-full xs:w-[90%] md:w-[60%] lg:w-full xl:w-[90%] 2xl:w-[85%] animate-bounce2">
        </div>
        <div class="w-full h-[55%] lg:w-[50%] lg:h-full flex flex-col justify-center items-center order-1 z-10 lg:order-2">
            <div class="w-full flex flex-col items-center">
                <div class="arrow w-full p-10 h-[20%] overflow-hidden mb-5">
                    <img src="./static/Images/Arrow 2.svg" alt="" class="w-full animate-arrow2">
                </div>
                <h1 class="text-3xl md:text-4xl lg:text-5xl font-prime-200 text-text2 w-full md:w-[80%] mb-3">We are educator who aim 
                    towards greater future</h1>
                <p class="w-full lg:w-[80%] text-base font-prime-300 text-text2 mb-5">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the hjgj
                </p>
                <div class="flex w-[80%] justify-end items-center">
                    <a href="#knowMore" class="bg-a1 text-light flex justify-center items-center px-5 py-1 w-fit">
                        <h1>Know More</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full flex flex-col px-1 py-5 xs:px-5 md:p-8 lg:p-10">
        <div class="arrow w-[50%] p-1 xs:p-10 h-[20%] overflow-hidden">
            <img src="./static/Images/Arrow 3.svg" alt="" class="w-full animate-arrow1">
        </div>
        <div class="w-full flex flex-col md:flex-row px-1 py-5 xs:p-5 md:px-8 lg:px-10 mb-5">
            <div class="w-full md:w-[50%] flex flex-col">
                <h1 class="text-3xl md:text-5xl font-prime-500 text-text2 mb-3">Subscribe</h1>
                <p class="w-full md:w-[70%] text-sm md:text-base font-prime-300 text-text2 mb-3">
                    For latest update, demo lectures and for all free stubs
                </p>
            </div>
            <form class="w-full md:w-[50%] flex flex-col">
                <label for="subEmail" class="font-prime-500 text-text2 mb-2 text-lg">Email</label>
                <input type="email" id="subEmail" name="email" placeholder="Enter your email" class="outline-none border-b-2 font-prime-500 text-text2 mb-3 text-lg w-[80%] border-a1" required>
                <input type="submit" value="Submit" class="w-fit px-2 py-1 bg-a1 text-light cursor-pointer">
            </form>
        </div>
        <div class="arrow w-full flex h-[30%]  justify-end items-center">
            <div class="arrow w-[55%] p-1 xs:p-10 h-full overflow-hidden">
                <img src="./static/Images/Arrow 2.svg" alt="" class="w-full animate-arrow2">
            </div>
        </div>
    </div>
    <div class="w-full flex px-1 py-5 xs:p-5 md:p-8 lg:p-10 flex-col lg:flex-row " id="knowMore">
        <div class="w-full lg:w-[50%] flex flex-col p-1 md:px-8 lg:px-10">
            <h1 class="text-3xl md:text-4xl lg:text-5xl font-prime-500 text-text2 mb-5">Get in touch</h1>
            <div class="w-full flex justify-center">
                <form action="" class="w-full lg:w-[80%] flex flex-col">
                    <label for="getName" class="font-prime-500 text-text2 mb-1 text-lg">Full Name</label>
                    <input type="name" name="name" id="getName" placeholder="Enter your name" class="outline-none border-b-2 font-prime-500 text-text2 mb-3 text-lg w-full border-a1" required>
                    <label for="getEmail" class="font-prime-500 text-text2 mb-1 text-lg">Your Email</label>
                    <input type="email" name="email" id="getEmail" placeholder="Enter your email" class="outline-none border-b-2 font-prime-500 text-text2 mb-3 text-lg w-full border-a1" required>
                    <label for="getMsg" class="font-prime-500 text-text2 mb-1 text-lg">Message</label>
                    <textarea name="message" id="getMsg" cols="30" rows="3" placeholder="Enter a message" class="outline-none border-b-2 font-prime-500 text-text2 text-lg w-full border-a1 resize-none mb-3" required></textarea>
                    <input type="submit" value="Submit" class="w-full p-2 bg-a1 text-light cursor-pointer">
                </form>
            </div>
        </div>
        <div class="w-full lg:w-[50%] flex flex-col justify-center py-5 md:px-8">
            <h1 class="text-xl font-prime-500 text-text2 mb-3 md:mb-4 lg:mb-5">Contact Us</h1>
            <a href="#" class="flex w-[60%] mb-2 md:mb-4 lg:mb-5">
                <img src="./static/Icons/phone.svg" alt="" class="mr-5 w-4 md:w-6">
                <h1 class="font-prime-500 text-text2 mb-1 text-base xs:text-lg">9420456583,9420456583</h1>
            </a>
            <a href="#" class="flex w-[60%] mb-2 md:mb-4 lg:mb-5">
                <img src="./static/Icons/email.svg" alt="" class="mr-5 w-4 md:w-6">
                <h1 class="font-prime-500 text-text2 mb-1 text-base xs:text-lg">@gmail.com</h1>
            </a>
            <a href="#" class="flex w-[60%] mb-2 md:mb-4 lg:mb-5">
                <img src="./static/Icons/location.svg" alt="" class="mr-5 w-4 md:w-6">
                <h1 class="font-prime-500 text-text2 mb-1 text-base xs:text-lg">Niphad, Nashik</h1>
            </a>
        </div>
    </div>
    <footer class="w-full">
        <%- include('_footer') %>
    </footer>
</Section>
<script>
    let img = document.querySelectorAll('img');
    img.forEach(e => {
        e.setAttribute('draggable','false')
    });
</script>