<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borase Classes</title>
    <base href="/">
    
    <%- style %>
    <link rel="stylesheet" href="./styles/tailwind.css">
    <link rel="stylesheet" href="./styles/layout.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    
</head>
<body class="bg-white scroll-smooth">
    <%- body %>

    <%- script %>
</body>
</html>