<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="index.css">
    <script type="text/javascript" src="index.js"></script>
</head>

<body>
    <div class="header">
        <h1>This will be nicer and dynamic later</h1>
        <h2>Click to navigate/ <%= folderList %>
        </h2>
    </div>
    <div class="simple">
        <h3 id="folderNavi">
        </h3>
        <script>
            window.onload = function () {
                loadFolders("<%= folderList %>")
            }
        </script>
    </div>


</body>

</html>