<!DOCTYPE html>
<html>

<head>
    <title>Folders</title>
    <link rel="stylesheet" href="css/folders.css">
    <script type="text/javascript" src="scripts/folders.js"></script>
    <link rel="icon" href="favicon/favicon.ico" />
</head>

<body>
    <div class="header">
        <h1>This will be nicer and dynamic later</h1>
        <h2>Click to navigate</h2>
        <p>
            <a href="/logout">Logout</a>
        </p>
    </div>
    <div class="simple">
        <h3 id="folderNavi">
        </h3>
        <script>
            window.onload = function () {
                loadFolders("<%= folders %>")
            }
        </script>
    </div>


</body>

</html>