<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/image_grid.css">
    <script type="text/javascript" src="scripts/image_grid_mobile.js"></script>
</head>

<body>
    <!-- Header -->
    <div class="header">
        <a class='header_link' href="/folders" target="_self">
            <h1 class="headertext">
                <%= title %>
            </h1>
            <hr class="headerLine">
            <p class="headertext">
                <%= description %>
            </p>
        </a>
    </div>

    <!-- Photo Grid -->
    <div class="row" id="imgcontainer">
        <div class="column" id="0"></div>
        <div class="column" id="1"></div>
    </div>
    <p>
        <%= image_links %>
    </p>
    <script type="text/javascript">
        window.onload = function () {
            loadImages("<%= image_links %>");
        }
    </script>
</body>

</html>