<!DOCTYPE html>
<html>
<!-- http://localhost:3000/image?img=atR6yuz.jpg -->

<head>
    <link rel="stylesheet" href="css/image.css">
</head>

<body class="body">
    <div class="header">
        <a class='header_link' href="#" onclick="window.history.back();" target="_self">
            <h1>
                Return
            </h1>
        </a>
    </div>
    <div class=body>
        <div class="center_div">
            <div class="'div_centered">
                <h1 class="imgLink">TESTING</h1>
            </div>
        </div>
    </div>
</body>

</html>